@import 'colours/userColor.css';



body.activity-stream{
    background-color: var(--accent-color) !important;
}
button.search-handoff-button{
	display: none;
    background-color: var(--accent-color) !important;
    box-shadow: 0 2px 6px rgba(109, 109, 109, 0.15);
    border: 1px solid var(--search-handoff-button-colour) !important;
}

div.logo{
    display: none !important;
}



.search-wrapper .logo-and-wordmark .wordmark {
    background: unset !important;
}

/* hide the settings button from the homepage */
.personalize-button { 
    display: none !important; 
}


.search-wrapper .logo-and-wordmark .wordmark::before {
    content: 'catppuccinno';
    width: inherit;
    height: 60vh;
    display: flex;
    justify-content: center;
	align-content: center;    /*aligns the content in center*/
    align-items: center;
    font-size: 100px;
    font-family: "Baletta";
    font-weight: 600;
	/* color: #FBEED7;         this is the color of text */
    color: var(--textcolor);
	/*border: 1px solid red;*/	
  }
 
@-moz-document url-prefix("about:") {
  :root {
    --in-content-page-background: var(--accent-color) !important;
    --in-content-box-background: var(--search-handoff-button-colour) !important;
    --in-content-table-background: var(--search-handoff-button-colour) !important;
  }
}

#root .customize-menu {
	background-color: var(--accent-color) !important;
}


/*changes the default teal colour, */
host, :root {
    --in-content-primary-button-background: var(--settings-searchbar-border) !important;
	--color-accent-primary: var(--settings-searchbar-border) !important;
	--link-color: var(--settings-searchbar-border) !important;
	--link-color-hover: var(--settings-searchbar-border) !important;
	--link-color-active: var(--settings-searchbar-border) !important;
}