@import 'colours/userColor.css';

body.activity-stream{
    background-color: var(--accent-color) !important;
}
button.search-handoff-button{
    background-color: var(--accent-color) !important;
    box-shadow: 0 2px 6px rgba(109, 109, 109, 0.15);
    border: 1px solid var(--search-handoff-button-colour) !important;
}

div.logo{
    display: none !important;
}
