@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #2b2a2a;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-color: #2b2a2a;
    }
}
:root{
    --textcolor: #f7c56f;
    --tabcolour: #332f2f;
    --search-handoff-button-colour: #605553;
	--tab-inside-text-color: #ffffff;
	--urlbar-color: #ffffff;
    --url-color: #FBEED7;
    --url-current-row: #413c3c;
	--settings-searchbar-border: #FBEED7;
}



/* colorpallele{
    #000000
    #212121
    #303030
    #424242
} */