/* Base color for the theme, dependent on whether it's a light theme or not*/
@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #212121;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-color: #212121;
    }
}
:root{
    --tabcolour: #424242;
    --search-handoff-button-colour: #424242;
}

/* colorpallele{
    #000000
    #212121
    #303030
    #424242
} */